<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 公共信息，也可以用dubbo.properties配置 -->
    <dubbo:application name="dubbo-provider"/>
    <dubbo:registry address="multicast://224.5.6.7:1234"/>

    <!-- 扫描注解包路径，多个包用逗号分隔，不填pacakge表示扫描当前ApplicationContext中所有的类 -->
    <dubbo:annotation package="com.demo.dubbo.service"/>
    <!--相当于下面的写法，所以包下面的类也会被spring实例化，不用再加@Service @Component注解-->
    <!--<dubbo:annotation/>
    <context:component-scan base-package="com.demo.dubbo.service">
        <context:include-filter type="annotation" expression="com.alibaba.dubbo.config.annotation.Service"/>
    </context:component-scan>-->

    <context:component-scan base-package="com.demo.dubbo.dao"/>
</beans>